# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Optional: build/dist folders if any
dist/
build/

# Optional: debug files
*.pid
*.seed

# Optional: coverage reports
coverage/

# Optional: IDE/editor files
.vscode/
.idea/++

.postman/
postman/